# Byte-compiled / optimized / DLL files
__pycache__/

# WebUI secret key
.webui_secret_key

# IntelliJ IDEA files
.idea/
*.env

config.json

test_repos/
evaluation_datasets/*
references/
pitch_materials/
