aiohttp==3.9.5
azure_storage==0.37.0
boto3==1.35.0
datasets==3.1.0
ddtrace==2.16.0
detoxify==0.5.2
django_haystack==3.3.0
faiss_cpu==1.9.0
fastapi==0.115.5
Flask==3.0.3
Flask_Cors==5.0.0
google_cloud_aiplatform==1.71.1
huggingface_hub==0.26.2
langfuse==2.53.9
llama_index==0.11.23
llm_guard==0.3.15
matplotlib==3.9.2
numpy==2.1.3
openai==1.54.4
passlib==1.7.4
presidio_analyzer==2.2.355
presidio_anonymizer==2.2.355
protobuf==5.28.3
psutil==6.1.0
pydantic==2.9.2
PyJWT==2.9.0
PyJWT==2.9.0
python-dotenv==1.0.1
pytz==2024.1
pytz==2024.2
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
scikit_learn==1.5.2
SQLAlchemy==2.0.32
sseclient==0.0.27
starlette==0.41.2
torch==2.5.1
transformers==4.46.1
vertexai==1.71.1
